*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    background-image: linear-gradient(to bottom right, rgb(13, 4, 134), rgb(58, 235, 232));
    height: 100vh;
    display: flex;
    font-family: 'Rubik', sans-serif;
}

main{
    height: 90%;
    width: 80%;
    margin: auto;
    display: flex;
    background-color: #09096d;
    border-radius: 20px;
}

#main-left{
    border-right: 1px solid gray;
    width: 35%;
    padding: 2px;
}

.head-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.info{
    display: flex;
    align-items: center;
    padding: 5px;
}

.img-profile{
    height: 60px;
    width: 60px;
}

.img-profile img {
    height: 100%;
    border-radius: 50%;
    object-fit: contain;
}

.info h3{
    padding: 10px;
    color: lightgray;
    padding: 0 10px;
}

.actions i {
    font-size: 20px;
    margin-right: 15px;
    color: lightgray;
}

#search-friend{
    background-color: #0a3ea0;
    padding: 10px;
    height: 60px;
}

#search-friend input{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    height: 40px;
    width: 100%;
    text-align: center;
}

#friends{
    height: calc(100% - 130px);
    overflow: auto;
}

.friend{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.active-friend{
    background-color: #13003d;
}

.friend .when{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    margin-right: 15px;
    color: lightgray;
}

/* .recent-chat .last-message{
    height: 20px;
    overflow: hidden;
    color: #4f93ff;
    margin: 0px 64px;
    border-bottom: 1px solid #4f93ff;
    border-radius: 10px;
    padding: 3px;
    text-align: center;
} */

.info .details p{
    padding: 0 10px;
    overflow: hidden;
    height: 20px;
    font-weight: lighter;
    color: #00fdd9;
}

#main-right{
    width: 65%;
    padding: 2px;
}

.body-main {
    background-image: url('../img/background.jpg');
    height: calc(100% - 140px);
    overflow: auto;
}

.container-message{
    padding: 50px;
}

.friend-message .message, .user-message .message{
    width: 40%;
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0;
    color: white;
}

.friend-message .message{
    background-color: #3785b5;
}

.user-message .message{
    background-color: #389b88;
}

.user-message{
    display: flex;
    justify-content: end;
}

.message .date {
    font-size: 11px;
    margin-top: 10px;
    text-align: end;
    color: lightblue;
}

.footer-main{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-main input{
    height: 60%;
    width: 80%;
    padding: 10px;
}

.footer-main i{
    font-size: 25px;
    margin: auto;
    color: #54d0dd;
}